# Misc
.vscode
*~
tmp
*.tmp
*.tgz
*.sh
*.log

# C and CPP
*.o
*.gcda
*.gcno

# Python
.coverage
__pycache__

# Binaries
unit_tests
zappy_server
zappy_ai
zappy_gui
epitech_server
ccs

# Graphic Team output for GUI
guioutput.txt